<!doctype html>
<html lang="en">
  <head>
      <title>404 | Not Found</title>
      <link rel="shortcut icon" type="image/jpg" href="Connection.png"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
    <div class='middle'>
        <div class="center"><h3>404 | Lost in space?? Quickly <a href='/'>go to spaceship!!</a></h3></div>
    </div>
</body>
</html>

<style>
  body {
  background-color: #B2BABB;
}
    .body-text {
    margin-bottom: 30px;
    width: 90%;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
 }
 .center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>