<!doctype html>
<html lang="en">
  <head>
      <title>About Us</title>
    <link rel="shortcut icon" type="image/jpg" href="https://i.imgur.com/UlXvXeA.png"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
 <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Health PRO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Go Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/videos">Videos Section</a>
              </li>
            </ul>
          </div>
        </div>
      </nav><br><br>
   <center><h2><u>About Us</u></h2></center><br>
   <center><h3>I'm Pasindu Ranasinghe and this is a site that is created for <b>Hackon 2.0</b>. This is not a site that is created only for a competition also to learn something good about life and your mental health.</h3></center><br>
   <h3>- Good Luck!</h3><br><br><br><br><br><br><br><br><br><br><br>
   <center><footer>
      <p>Created by Pasindu Ranasinghe. <span>&copy;</span> 2021.</p>
   </footer></center>
</body>
</html>

<style>
    body {
  background-color: #B2BABB;
}
</style>