<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/jpg" href="Connection.png"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
    <center><h5>Hope this article helps for you!! Some information provided by WHO Official Website</h5></center>
    <center><footer>
      <p>Created by Pasindu Ranasinghe. <span>&copy;</span> 2021.</p>
    </footer></center>
</body>
</html>