<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/jpg" href="Connection.png"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Health PRO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/videos">Videos Section</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about-us">About Us</a>
            </li>
          </ul>
          <button class="btn btn-outline-success"><a href='/logout'>Logout</a></button>
        </div>
      </div>
    </nav><br><br>
    <center><img src="<%= user.picture %>" class="rounded mx-auto d-block" alt="..." height='300' width='300'></center><br>
    <u><center><h2>Welcome <%= user.nickname %> to Health PRO</h2></center></u>
    <form class="needs-validation" method="POST" action="/success" novalidate>
          </div>
        </div><br>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Your name</label>
            <input type="text" class="form-control" name="name" id="validationCustom01" placeholder=">" required>
            <div class="invalid-feedback">
              You must type your name
            </div>
        </div><br>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Tell us your problem</label>
            <textarea class="form-control" name="long" id="validationCustom01" placeholder="Problem area" minlength="300" required></textarea>
            <div class="invalid-feedback">
              Your description must exceed 80 character limit.
            </div>
        </div><br>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div><br>
   </form>
</body>
</html>