<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/jpg" href="Connection.png"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
    <u><center><h2>Success. Our team will contact you via email</h2></center></u>
    <center><button type="button" class="btn btn-outline-primary"><a href='/'>Home</a></button></center>
</body>
</html>